:root{
    --primary-color: hsl(0, 0%, 100%);
   --secondary-color: hsl(212, 45%, 89%);
   --third-color: hsl(220, 15%, 55%);
  --last-color: hsl(218, 44%, 22%);
}
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "outfit", sans-serif;
    background-color: var(--secondary-color);
}

main{
    text-align: center;
    padding-top: 70px;
    
  
   
}

.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
    padding: 30px 0px;
    width: 350px;
    height: 550px;
    border-radius: 1em;
    background-color: var(--primary-color);
    
}

.card img{

    max-width:300px ;
    border-radius: 1em;
}

.card h2{
    text-align: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    font-weight: 700;
    color: var(--last-color);
}

.card p{
    padding: 10px 20px;
    background-color: var(--primary-color);
    font-size: 1.2em;
    font-weight: 400;
    color: var(--third-color);

}
